h1{font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; color: #ff2e2e; }
body{font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; color: #000000; }

body {background-color: #fff2fa;}
