body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #584153; 
}
nav a {background-color: #f6acc8;}

nav a {color:#af8baf;}

nav a:hover {background-color: #26191b;}


h1 {
    color: Fuchsia; font-size: 14 em;
}
h2 {
    color: Fuchsia; font-size: 12 em;
}
.evenrow {background-color: #E6E6FA}