body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #575757; 
}
nav {background-color: #000000;}

nav a {color:#eea1f0;}

nav a:hover {background-color: #f2d0f2;}

nav {padding: 10px}

nav {margin-bottom: 30px}

a:link {color:#dc2ade;}


h1 {
    color: Fuchsia; font-size: 14 em;
}
h2 {
    color: Fuchsia; font-size: 12 em;
}
.evenrow {background-color: #E6E6FA}