body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: Fuchsia; 
}
nav a {background-color: #FFE0F7;}

nav a {color:#FE91CA;}

nav a:hover {background-color: #251f44;}


h1 {
    color: Fuchsia; font-size: 14 em;
}
h2 {
    color: Fuchsia; font-size: 12 em;
}
.evenrow {background-color: #E6E6FA}