body{font-family: "Trebuchet MS", Helvetica, sans-serif; color: #575757; }
.evenrow {background-color: #faf0fa;}

body {background-color: #FFFFFF;}
a:link {color: #0000EE;}

nav {background-color: #d6d6d6;}
nav a {color:#dc2ade;}
nav a:hover {background-color: #feccff;}
nav {padding: 10px}
nav {margin-bottom: 30px}
a:visited {color: #000000;}


h1 {color: #f000f0; font-size: 14 em;}
h2 {color: #f000f0; font-size: 12 em;}


.image {max-width: 100%;}
@media only screen and (max-width: 600px) 
{
    nav a {width: 100%; margin-bottom: 10px;
    display: block;} 
    .pipe {display:none;}

}

#skip-to-content {
    position: absolute; 
    left: -999px; 
    background-color: white;
    border: 1px solid gray;
    }
#skip-to-content:focus {position: absolute; left: 10px;}
