body{font-family: "Trebuchet MS", Helvetica, sans-serif; color: #575757; }
.evenrow {background-color: #f7bcf8;}

body {background-color: #fcf5fc;}
a:link {color: #0000EE;}

nav {background-color: #d6d6d6;}
nav a {color:#dc2ade;}
nav a:hover {background-color: #feccff;}
nav {padding: 10px}
nav {margin-bottom: 30px}
a:visited {color: #000000;}


h1 {color: #ff00ff; font-size: 14 em;}
h2 {color: #ff00ff; font-size: 12 em;}


p.image {max-width: 100px;}
@media only screen and (max-width: 600px) {<meta name="viewpoint" content="width=device-width, inital-scale=1">}